<div class='mx-auto my-3 card w-75' ...attributes>
  <img
    src={{@bike.photoUrl}}
    class='card-img-top'
    alt='bike'
    data-test-bike-image
  />
  <div class='card-body'>
    <h5 class='card-title' data-test-bike-fullName>
      {{@bike.brand}}
      {{@bike.model}}</h5>
  </div>
  <ul class='list-group list-group-flush'>
    <li class='list-group-item' data-test-bike-color>Color: {{@bike.color}}</li>
    <li class='list-group-item' data-test-bike-size>Size: {{@bike.size}}</li>
    <li class='list-group-item' data-test-bike-description>Description:
      {{@bike.description}}</li>
  </ul>
  <Shared::Button
    @label='âœï¸'
    @onClick={{this.onShowEditModalToggle}}
    data-test-bike-editButton={{@index}}
  />
  <Shared::Button
    @label='ðŸ—‘'
    @onClick={{this.onDeleteBike}}
    data-test-bike-deleteButton={{@index}}
  />
</div>

{{#if this.isShowEditModal}}
  <Bike::EditModal
    @bike={{@bike}}
    @onToggle={{this.onShowEditModalToggle}}
    data-test-bike-modal
  />
{{/if}}