<div class='card w-75 mx-auto bg-secondary mt-3'>
  <div class='card-header text-white bg-dark'>
    Your Order
  </div>
  <div class='card-body'>

    {{#each @filteredOrder as |order|}}
      <h3>{{order.owner.name}} {{order.owner.surname}}</h3>
      <h5>
        Bike:
        {{order.bike.brand}}
        {{order.bike.model}}
      </h5>
      <p class='d-flex justify-content-around'>
        <span>
          Acceptance date:
          {{format-date order.acceptanceDate}}
        </span>
        <span>
          Aproximated release date
          {{format-date order.releaseDate}}
        </span>
      </p>
      <ul class='list-group rounded'>
        {{#each order.bike.issues as |issue|}}
          <li class='list-group-item d-flex justify-content-between'>
            {{issue.details}}
            <b>{{issue.status}}</b>
          </li>
        {{/each}}
        <div class='d-flex flex-column justify-content-between my-2'>
          <h3> Comments: </h3>
          {{#each order.comments as |comment|}}
            <div
              class='d-flex justify-content-between rounded bg-white px-3 py-2 my-1'
            >{{comment.content}}
              <button class='btn btn-sm btn-light' type='button'>✖️</button>
            </div>
          {{/each}}

          {{#if this.showCommentField}}
            <div class='input-group mb-3'>

              <input
                id='inputComment'
                type='text'
                class='form-control'
                placeholder='comment'
                {{on 'input' this.onInputComment}}
              />
              <span
                class='input-group-text d-flex justify-content-between'
                id='basic-addon2'
              >
                <button
                  class='btn btn-primary btn-sm mt-2 mx-1'
                  type='button'
                  {{on 'click' this.onCancelComment}}
                >
                  ✖️
                </button>
                <button
                  class='btn btn-primary btn-sm mt-2'
                  type='button'
                  {{on 'click' this.onSaveComment}}
                >
                  ✔️
                </button>
              </span>
            </div>
          {{/if}}
        </div>
      </ul>

    {{else}}
      <p>invalid order id</p>
    {{/each}}

    <div class='d-flex justify-content-between'>
      <button
        class='btn btn-primary mt-2'
        type='button'
        {{on 'click' this.onAddComment}}
      >Add comment</button>

      <button
        class='btn btn-danger mt-2'
        type='button'
        {{on 'click' @onClick}}
      >Close</button>
    </div>
  </div>
</div>