<div class='card w-75 mx-auto bg-secondary mt-3'>
  <div class='card-header text-white bg-dark'>
    Your Order
  </div>
  <div class='card-body'>

    {{#each @filteredOrder as |order|}}
      <h3>{{order.owner.name}} {{order.owner.surname}}</h3>
      <h5>
        Bike:
        {{order.bike.fullName}}
      </h5>
      <p class='d-flex justify-content-around'>
        <span>
          Acceptance date:
          {{format-date order.acceptanceDate}}
        </span>
        <span>
          Aproximated release date
          {{format-date order.releaseDate}}
        </span>
      </p>

      <ul class='list-group rounded'>
        {{#each order.bike.issues as |issue|}}
          <li class='list-group-item d-flex justify-content-between'>
            {{issue.details}}
            <b>{{issue.status}}</b>
          </li>
        {{/each}}
      </ul>

      <div class='d-flex flex-column justify-content-between my-2'>
        <h3> Comments: </h3>
        {{#each order.comments as |comment|}}
          <Comment::Display @comment={{comment}} />
        {{/each}}

        {{#if this.showCommentField}}
          <Comment::Add
            @onInput={{this.onInputComment}}
            @onCancel={{this.onCancelComment}}
            @onSave={{this.onSaveComment}}
          />
        {{/if}}
      </div>

    {{else}}
      <p>invalid order id</p>
    {{/each}}

    <div class='d-flex justify-content-between'>
      <Shared::Button
        class='btn-primary mt-2'
        @label='Add comment'
        @onClick={{this.onAddComment}}
      />
      <Shared::Button
        class='btn-danger mt-2'
        @label='Close'
        @onClick={{@onClick}}
      />

    </div>
  </div>
</div>