<form {{on 'submit' @onSave}} data-test-addComment-form>
  <div class='input-group mb-3'>
    <input
      id='inputComment'
      type='text'
      class='form-control'
      placeholder='comment'
      {{on 'input' @onInput}}
    />
    <Shared::Button
      class='btn-outline-light'
      @label='✖️'
      @onClick={{@onCancel}}
      data-test-button-cancel
    />
    <Shared::Button
      class='btn-outline-light'
      @type='submit'
      @label='✔️'
      disabled={{@shouldBeDisabled}}
      @onClick={{@onSave}}
      data-test-button-submit
    />
  </div>
</form>