<tr>
  <th scope='row'>
    <LinkTo @route='home.order.show' @model={{@order.id}}>
      <Shared::Button
        class={{concat 'btn-outline-' this.statusColorClass}}
        @label={{@order.id}}
      />
    </LinkTo>
  </th>
  <td>{{@order.bike.fullName}}</td>
  <td>{{@order.type}}</td>
  <td>{{format-date @order.acceptanceDate}}</td>
  <td>{{format-date @order.releaseDate}}</td>
  <td>{{@order.status}}</td>
</tr>