<div class='accordion w-50 mx-auto' id='accordionProfile'>
  <div class='accordion-item'>
    <h2 class='accordion-header' id='headingOne'>
      <button
        class='accordion-button collapsed sticky-top bg-secondary'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#collapseOne'
        aria-expanded='false'
        aria-controls='collapseOne'
      >
        User Details
      </button>
    </h2>
    <div
      id='collapseOne'
      class='accordion-collapse collapse show'
      aria-labelledby='headingOne'
      data-bs-parent='#accordionProfile'
    >
      <div class='accordion-body'>
        <EditUser @user={{@user}} />
      </div>
    </div>
  </div>

  <div class='accordion-item'>
    <h2 class='accordion-header' id='headingTwo'>
      <button
        class='accordion-button collapsed sticky-top bg-secondary'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#collapseTwo'
        aria-expanded='false'
        aria-controls='collapseTwo'
      >
        Your bikes
      </button>
    </h2>

    <div
      id='collapseTwo'
      class='accordion-collapse collapse'
      aria-labelledby='headingTwo'
      data-bs-parent='#accordionProfile'
    >
      <div class='accordion-body'>
        <button
          class='btn btn-primary'
          type='button'
          {{on 'click' this.onShowAddModalToggle}}
        >add bike</button>
        <Bike::List @bikes={{@user.bikes}} />
      </div>
    </div>
  </div>
  <div class='accordion-item'>
    <h2 class='accordion-header' id='headingThree'>
      <button
        class='accordion-button collapsed sticky-top bg-secondary'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#collapseThree'
        aria-expanded='false'
        aria-controls='collapseThree'
      >
        Your Orders
      </button>
    </h2>

    <div
      id='collapseThree'
      class='accordion-collapse collapse'
      aria-labelledby='headingTwo'
      data-bs-parent='#accordionProfile'
    >
      <div class='accordion-body'>
        <Order::List @orders={{@user.orders}} />
      </div>
    </div>
  </div>
</div>

{{#if this.isShowAddModal}}
  <Bike::AddModal @onToggle={{this.onShowAddModalToggle}} />
{{/if}}