{{#each @orders as |order|}}
  <div class='card w-75'>
    <div class='card-header'>
      {{order.bike.brand}}
      {{order.bike.model}}
    </div>
    <ul class='list-group list-group-flush'>
      <li class='list-group-item'>{{order.type}}</li>
      <li class='list-group-item'>{{order.status}}</li>
      <li class='list-group-item'>{{format-date order.releaseDate}}</li>
    </ul>
  </div>
{{/each}}