{{#each @orders as |order|}}
  <div class='card w-75 mb-2 mx-auto'>
    <div class='card-header'>
      {{order.bike.brand}}
      {{order.bike.model}}
    </div>
    <ul class='list-group list-group-flush'>
      <li class='list-group-item'>{{order.type}}</li>
      <li class='list-group-item'>{{order.status}}</li>
      <li class='list-group-item'>{{format-date order.releaseDate}}</li>
      <li class='list-group-item'>
        <LinkTo @route='home.order.show' @model={{order.id}}>check</LinkTo>
      </li>
    </ul>
  </div>
{{/each}}