<form {{on 'submit' this.onSave}}>
  <div class='input-group mb-3'>
    <span
      class='input-group-text w-25 text-wrap px-2'
      id='inputDescription'
    >{{@property}}</span>
    <input
      id='inputComment'
      class='form-control {{if this.shouldNotEdit "pe-none"}}'
      type='text'
      aria-describedby='inputDescription'
      value={{this.property}}
      {{on 'input' (fn this.onPropertyChange @property)}}
    />

    {{#if this.isEditable}}
      <Shared::Button
        class='btn-sm btn-outline-light'
        @label='✖️'
        @onClick={{this.onCancel}}
      />
      <Shared::Button
        class='btn-sm btn-outline-light'
        @type='submit'
        @label='✔️'
        @onClick={{this.onSave}}
      />
    {{else}}
      <Shared::Button
        id='button'
        class='btn-sm btn-outline-light'
        @label='✏️'
        @onClick={{this.onEditPropertySwitch}}
      />
    {{/if}}

  </div>
</form>