<div class='card w-75 mx-auto bg-secondary'>
  <div class='card-header text-white bg-dark'>
    New Order
  </div>
  <div class='card-body d-flex justify-content-between text-dark bg-secondary'>
    <div> Bike</div>
    <div class='w-75'>
      <Order::BikeSelect
        @options={{this.user.bikes}}
        @onChange={{this.onBikeInput}}
        @selected={{this.order.bike}}
      />
    </div>
  </div>
  <ul class='list-group list-group-flush text-dark bg-secondary'>
    <li
      class='list-group-item d-flex justify-content-between text-dark bg-secondary'
    >
      <div> type of service</div>
      <div class='w-75'>
        <Order::TypeSelect
          @options={{this.serviceTypes}}
          @onChange={{this.onTypeInput}}
          @selected={{this.typeOption}}
        />
      </div>
    </li>
    <li class='list-group-item text-dark bg-secondary'>
      <div class='mb-2'>Issues: </div>

      <ul class='list-group rounded'>
        {{#each this.orderIssues as |issue|}}
          <Order::Issue::Display
            @isPossibleToDelete={{@isPossibleToDelete}}
            @issue={{issue}}
            @orderIssues={{this.orderIssues}}
            @deleteRecord={{this.deleteRecord}}
          />
        {{/each}}
      </ul>

      {{#if this.isShowIssueInput}}
        <Order::Issue::Add
          @onCancel={{this.onCancelIssue}}
          @onInput={{this.onInputIssue}}
          @onSave={{this.onSaveIssue}}
        />
      {{/if}}
      <div class='d-flex justify-content-end'>
        <Shared::Button
          class='btn-sm btn-primary'
          @label='Add issue'
          disabled={{this.shouldDisableButton}}
          @onClick={{this.onAddIssue}}
        />
      </div>
    </li>
    <li
      class='list-group-item d-flex justify-content-between text-dark bg-secondary'
    >
      <div>
        <LinkTo @route='home.profile'>
          <Shared::Button class='btn-primary' @label='Back to profile' />
        </LinkTo>
        <Shared::Button
          class='btn-danger'
          @label='Rollback'
          @onClick={{this.onCancelOrder}}
        />
      </div>
      <Shared::Button
        class='btn-primary'
        @label='Submit'
        @onClick={{this.onSaveOrder}}
      />
    </li>
  </ul>

</div>

<Shared::BackButton class='btn-primary' />