<div class='mb-3 row'>
  <label for='inputBrand' class='col-sm-2 col-form-label'>Brand</label>
  <div class='col-sm-10'>
    <input
      type='text'
      class='form-control'
      id='inputBrand'
      {{on 'input' (fn this.onPropertyChange 'brand')}}
    />
  </div>
</div>
<div class='mb-3 row'>
  <label for='inputModel' class='col-sm-2 col-form-label'>Model</label>
  <div class='col-sm-10'>
    <input
      type='text'
      class='form-control'
      id='inputModel'
      {{on 'input' (fn this.onPropertyChange 'model')}}
    />
  </div>
</div>
<div class='mb-3 row'>
  <label for='inputSize' class='col-sm-2 col-form-label'>Size</label>
  <div class='col-sm-10'>
    <input
      type='text'
      class='form-control'
      id='inputSize'
      {{on 'input' (fn this.onPropertyChange 'size')}}
    />
  </div>
</div>
<div class='mb-3 row'>
  <label for='inputColor' class='col-sm-2 col-form-label'>Color</label>
  <div class='col-sm-10'>
    <input
      type='text'
      class='form-control'
      id='inputColor'
      {{on 'input' (fn this.onPropertyChange 'color')}}
    />
  </div>
</div>
<div class='mb-3 row'>
  <label for='inputPhotoUrl' class='col-sm-2 col-form-label'>PhotoUrl</label>
  <div class='col-sm-10'>
    <input
      type='text'
      class='form-control'
      id='inputPhotoUrl'
      {{on 'input' (fn this.onPropertyChange 'photoUrl')}}
    />
  </div>
</div>